body {
    background-image:url('brickwall/brickwall.png');
}
#map { 
    width: 100%;
    height: calc(100% - 220px);
    position:absolute;
}
#banner {
    height: 200px;
    padding-top:1em;

}
h1 {
    margin-bottom:0;
}

.info {
    /*display:inline-block;*/
    /*width: 200px;
    height:100px;
    vertical-align:top;
    border:1px solid gray;*/
    max-height: 140px;
    overflow-y: auto;
    margin-top:10px; /* Why do I need this? Something has gone awry. */
}
p {
    font-family:sue-ellen-francisco, sans-serif;
    font-size:20px;
}
.nocoverage blockquote {
    font-family:sue-ellen-francisco, sans-serif;
    font-size:16px;
    overflow:auto;
    max-height:180px;
    /*background-image:url('linedpaper/linedpaper.png');*/
    background-image:url('paper_fibers/paper_fibers.png');
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

}    
.nocoverage h2 {
    font-family:sue-ellen-francisco, sans-serif;
}
#statustext {
    font-size: 24px;
}
.info p {
    display: table-cell;
    padding:0.5em;
}

.icon {
    width:70px;
    height:70px;
    background-size: contain;
    background-repeat: no-repeat;
    display:table-cell;
    float:left;
    vertical-align:top;
}

.icon.rubbish {
    /* https://www.flickr.com/photos/44015204@N02/4049374816/ */
    background-image:url('rubbish2.png');
}
.icon.recycling {
    background-image:url('recycling.png');
        /* http://pixabay.com/en/bin-can-recycle-trash-green-158679/ */
    }
.icon.green {
    /*background-image:url('greenwaste.png');*/
        /* http://pixabay.com/p-297843/?no_redirect */
    background-image:url('greenwaste3.png');
    margin-top: 2em;
        /* https://openclipart.org/detail/183676/dead-branches */
}
#locationstatus {
    height: 60px;
}

h1 {
    font-family: jolly-lodger, sans-serif;
    font-size: 56px;
}
.boilerplate p {
    font-size: 10px;
    font-family:revalia, sans-serif;
    border-top: 1px solid lightgray;
}

.ocdlogo {
    background-image:url('http://opencouncildata.org/powered_by_opencouncildata.png');
    width:100px;
    height:23px;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:bottom;
    margin-top:2px;
}